<section class="pt-5">
    <div class="container py-5">
        <h3 class="fw-bold ps-5">Rory has delivered keynote presentations to:</h3>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/1.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/2.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/3.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/4.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/5.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/7.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/8.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/9.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/10.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/11.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/13.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/14.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/15.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/16.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/17.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/19.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/20.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/21.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/22.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/23.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/25.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/26.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/27.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/28.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/29.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/6.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/12.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/18.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/24.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/30.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/7.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/8.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/9.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/10.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/11.png" alt="media">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <img class="d-block img-fluid owl" src="assets/imgs/13.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/14.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/15.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/16.png" alt="media">
                    <img class="d-block img-fluid owl" src="assets/imgs/17.png" alt="media">
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</section>
<section class="py-5">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="assets/imgs/media.png" alt="media">
                <button class="btn btn-outline-dark rounded-0 me-3 fw-bolder text-uppercase my-3"><i class="fa-solid fa-circle-play me-2"></i>Watch Rory's Video</button>
            </div>
            <div class="col-lg-6 ps-5">
                <h3 class="fw-bold">Popular Keynote Program</h3>
                <ul class="p-0 my-3 fw-bold">
                    <li>Take the Stairs (Motivation and Inspiration)</li>
                    <li>Multiply Your Time (Performance and Productivity)</li>
                    <li>The Influential Leader (Leadership and Teamwork)</li>
                    <li>Influential Personal Brand (Influence and Digital Marketing)</li>
                    <li>Rock Solid Reputation (Culture and Customer Experience)</li>
                    <li>Design a Custom Program</li>

                </ul>
                <button class="Speaking btn rounded-0 text-light fw-bolder text-uppercase">Request Speaking information</button>

            </div>
        </div>
    </div>
</section>