<section class="mt-5">
    <div class="container">
        <div class="row  py-5 align-content-center">
            <div class="col-md-2">
                <img class="img-fluid icon" src="assets/imgs/image-asset.png" alt="icon">
            </div>
            <div class="col-md-10">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="after position-relative">
                        <a class="d-block nav-link fw-bold active px-0" (click)="scrollToElement('#home',$event)">Home</a>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#books',$event)">Books</a>
                    </div>
                    <div class="after position-relative">
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#media',$event)">Social Media</a>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#traning',$event)">Free Trainings</a>
                    </div>
                    <div class="after position-relative">
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#meet',$event)">Meet Rory</a>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#podcast',$event)">Podcast</a>
                    </div>
                    <div class="after position-relative">
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#personal',$event)">Personal branding</a>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#contact',$event)">Contact</a>
                    </div>
                    <div>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#traning',$event)">Blog</a>
                        <a class="d-block nav-link fw-bold px-0" (click)="scrollToElement('#media',$event)">Speaking</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center py-3">
            <a class="m-3"><i class="fa-brands fa-instagram"></i></a>
            <a class="m-3"><i class="fa-brands fa-youtube"></i></a>
            <a class="m-3"><i class="fa-brands fa-linkedin"></i></a>
            <a class="m-3"><i class="fa-brands fa-facebook"></i></a>
            <a class="m-3"><i class="fa-brands fa-twitter"></i></a>
            <a class="m-3"><i class="fa-brands fa-pinterest"></i></a>

        </div>


    </div>
    <div class="rights text-center text-light py-3">
        <small>Copyright © 2021 Buconcy. All Rights Reserved.</small>
    </div>
</section>