<section class="py-5">
    <div>
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="ms-5 m-auto">
                    <p class="fs-4 fw-bold">Procrastination is the most expensive invisible cost in business today.</p>

                    <div>
                        <p class="fw-bold position-relative p1">
                            If you can’t figure out how to inspire and influence people to do something different, then you and they will both stay stuck in the status quo.
                        </p>
                        <p class="fw-bold position-relative p2">
                            You won’t grow revenues.
                        </p>
                        <p class="fw-bold position-relative p3">
                            You won’t grow your reach.
                        </p>
                        <p class="fw-bold position-relative p4">
                            You won’t grow your engagement.
                        </p>
                        <p class="fw-bold position-relative p5">
                            You won’t grow your organization.
                        </p>
                        <p class="fw-bold position-relative p6">
                            You won’t grow other leaders.
                        </p>
                        <p class="fw-bold position-relative p7">
                            This is the greatest risk of every organization and every leader because it puts you at vulnerable risk of becoming antiquated, mediocre, outperformed and ultimately irrelevant. </p>
                    </div>
                    <button class="Speaking btn rounded-0 text-light fw-bolder text-uppercase">Request Speaking information</button>
                </div>

            </div>
            <div class="col-lg-4">
                <img class="w-100" src="assets/imgs/podcast.png" alt="podcast">
            </div>
        </div>
    </div>
</section>