<section class="py-5">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 ps-5">
                <h3 class="fw-bold"><span class="position-relative">Meet Rory</span> Vaden</h3>
                <p class="fw-bold">
                    Rory Vaden is the New York Times bestselling author of Take the Stairs. His insights have been featured in the Wall Street Journal, Forbes, CNN, Entrepreneur, Inc, on Fox News national television and in several other major media outlets. As a world-renowned
                    speaker, His Tedx talk has been viewed over 3 million times, he is a 2x . . .
                </p>
                <button class="Speaking btn text-light fw-bolder rounded-0">Learn more</button>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/imgs/meet.png" alt="rory">
            </div>
        </div>
    </div>
</section>