<section class="py-5">
    <div class="container py-5">
        <h3 class="fw-bold ps-5 pb-2 fs-1"><span class="position-relative">Speaking</span> Testimonials</h3>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="shadow card m-3">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/imgs/Image place here.png" alt="Cody Foster">
                        <div class="layer"></div>
                        <p class="name fw-bold">Cody Foster</p>
                    </div>
                    <div class="text-center p-3 fw-bold">
                        <p class="p1 py-2 position-relative">Founder Of Advisor Excel</p>
                        <p>“Your session was one of the very best and most valuable we’ve ever had. Your content is great. Your stage presence is fantastic and you have just the right amount of humor. Incredible job!”</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="shadow card m-3">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/imgs/Image place here 2.png" alt="Judy Joel">
                        <div class="layer"></div>
                        <p class="name fw-bold">Judy Joel</p>
                    </div>
                    <div class="text-center p-3 fw-bold">
                        <p class="p1 py-2 position-relative">US Field Development Manager At Pampered Chef</p>
                        <p>“Your presentation was spot on! They LOVED you!”</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="shadow card m-3">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/imgs/Image place here 3.png" alt="Tracy Christman">
                        <div class="layer"></div>
                        <p class="name fw-bold">Tracy Christman</p>
                    </div>
                    <div class="text-center p-3 fw-bold">
                        <p class="p1 py-2 position-relative">Vice President Of Vendor Alliance At Budget Blinds </p>
                        <p>“Thanks for an incredible job well done!”</p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="shadow card m-3">
                    <div class="position-relative">
                        <img class="img-fluid" src="assets/imgs/Image place here 4.png" alt="Darby Hawkins">
                        <div class="layer"></div>
                        <p class="name fw-bold">Darby Hawkins</p>
                    </div>
                    <div class="text-center p-3 fw-bold">
                        <p class="p1 py-2 position-relative">Meeting Planner & Services Coordinator At Furniture First</p>
                        <p>“Rory is a dynamic speaker with a great message!” </p>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
        <div class="text-center mt-3"> <button class="Speaking btn text-light fw-bolder shadow">See All</button>
        </div>
    </div>
</section>