<section class="py-5 mt-5">
    <div>
        <img class="img-fluid py-5" src="assets/imgs/group.png" alt="group">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/imgs/home-reputation.png" alt="reputation">
            </div>
            <div class="col-lg-6 ps-5">
                <p class="fs-4 fw-bold">LEARN THE PSYCHOLOGY OF LEADERSHIP, INFLUENCE, AND MOVING PEOPLE TO ACTION</p>
                <p class="fw-bold">
                    Leadership is the art of moving people into productive action. As you become a better leader you will get more opportunity, have more influence, earn more income and make more impact.

                </p>
                <p class="fw-bold">
                    But whether you’re trying to lead yourself or a team, the problem you’re up against is procrastination.
                </p>
                <p class="fw-bold">
                    In most cases people don’t want to move. They don’t want to change. They don’t want to act. And so instead they fall victim to distraction, dilution, complacency, and stalled productivity.
                </p>
            </div>
        </div>
    </div>
</section>