<section class="py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid" src="assets/imgs/books.png" alt="books">
        </div>
        <div class="col-lg-6">
            <div class="w-75 m-auto">
                <p class="fw-bold">
                    NEW YORK TIMES BESTSELLING AUTHOR AND HALL OF FAME SPEAKER, RORY VADEN IS THE WORLD’S LEADING EXPERT IN THE PSYCHOLOGY OF LEADERSHIP AND INFLUENCE
                </p>
                <p class="fw-bold">
                    Rory Vaden has dedicated his entire life to the study of leadership and influence. His education and experience took him all the way from being raised by a single mother in a trailer park to becoming a New York Times bestselling author, a world renowned
                    Hall of Fame keynote speaker, and an Eight-Figure entrepreneur.
                </p>
                <p class="fw-bold">
                    He has developed dozens of insights, frameworks and methodologies that led to a viral Ted talk and have been used by some of the most successful organizations in the world to mobilize their sales forces, develop their leaders and move their people into
                    action. </p>
            </div>
        </div>
    </div>
</section>