<section class="py-5">
    <div class="position-relative">
        <img class="img-fluid" src="assets/imgs/learn.png" alt="learn">
        <div class="content w-50">
            <h3 class="fw-bold">LEARN THE SECRETS OF INFLUENCING PEOPLE AND MOVING THEM TO TAKE ACTION</h3>
            <p class="fw-bold my-5 w-75">Whether it is through his viral TED talk, his compelling live keynotes or his in demand virtual training, Rory can help any individual, leader, or organization to grow their influence and become more effective at inspiring people to make change.
                <a class="text-light">Read more ...</a>
            </p>
            <button class="Speaking btn text-light fw-bolder text-uppercase rounded-0">Request Speaking information</button>
        </div>
    </div>


</section>